@font-face {
  font-family: potter;
  src: url(../fonts/ParryHotter.ttf);
}

html {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  background-image: url("img/3d3be8ed34a56a2f8dc664fe4fb538a9.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: potter;
  font-size: 18px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
ul {
  list-style-type: none;
}

h1.mainheading {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 300;
}
h1.student-name {
  text-align: center;
  color: white;
  margin-bottom: 0;
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 300;
}

p.name {
  color: white;
  line-height: 20px;
  font-size: 1.5rem;
  margin-top: 20px;
}
p.student-info {
  color: white;
  text-align: center;
  font-size: 1.7rem;
}

p.actor {
  text-align: center;
  font-size: 1.5rem;
  margin-top: -5px;
}

.info {
  height: 500px;
  width: 400px;
  border-radius: 10px;
}

article {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  background-image: url("../img/hogwarts.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.8s ease;
}

img {
  width: 163px;
  height: 227px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
