@font-face {
  font-family: potter;
  src: url(../fonts/ParryHotter.ttf);
}

html {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

body {
  background-image: url("img/3d3be8ed34a56a2f8dc664fe4fb538a9.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-family: potter;
  font-size: 18px;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}
ul {
  list-style-type: none;
}

h1.mainheading {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: white;
  letter-spacing: 5px;
  font-size: 2rem;
  font-weight: 300;
}

p.name {
  color: white;
  line-height: 20px;
  font-size: 1.5rem;
  margin-top: 20px;
}
p.student-info {
  color: white;
  text-align: center;
  font-size: 1.7rem;
}

.info {
  background-color: rgba(151, 55, 55, 0.753);
  height: 500px;
  width: 400px;
  border-radius: 10px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 163px;
  height: auto;
  border-radius: 50%;
  border: 4px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
